<%= form_for [@blank_question, @blank_question.blank_answers.build] do |f| %>
   <div class="field">
    <%= f.label :answer %><br>
    <%= f.text_field :answer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
