<p id="notice"><%= notice %></p>

<p>
  <strong>Answer:</strong>
  <%= @blank_answer.answer %>
</p>

<%= link_to 'Edit', edit_blank_answer_path(@blank_answer) %> |
<%= link_to 'Back', blank_answers_path %>
